*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	text-align: center;
}

#modalGameOver{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	/*RGB deixa transparente o "fundo"*/
	background-color: rgb(0,0,0,0.5);
	display: none;
}

#container{
	width: 1325px;
	height: 495px;
	border: 1px solid white;
	border-radius: 10px;
	position: relative;
	margin: 10px auto;
}

#imgGameOver{
	width: 50%;
}

#imgMatchSign{
    z-index: -1;
	position: relative;
	top: 250px;
	/*Controla as animações*/
	transition-property: top, opacity;
	transition-duration: 2.5s;
	opacity: 1;
	
}

.card{
	width: 160px;
	height: 240px;
	position: absolute;
	border-radius: 10px;
	perspective: 600px;
}

.card:hover{
	box-shadow: 0 0 10px green;
}

.face{
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transition: all 1s;
	backface-visibility: hidden;
}

.back{
	background: url("../img/verso.jpg");
}

/*Controla as animações*/
.back.flipped{
	transform: rotateY(180deg);
}

.front{
	transform: rotateY(-180deg);
}

.front.flipped{
	transform: rotate(0deg);
}

/*Insere borda em cartas combinadas*/
.face.flipped.match{
	box-shadow: 0 0 15px green;
}

#container{
	background-color: black;
}